.admins-admin-container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-color);
}
.admins-admin-container .admin-admins-content{
    width: 70%;
    height: 90vh;

    padding: 2% 0;
}
.admins-admin-container .admin-admins-content .header-admin-admins{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.admins-admin-container .admin-admins-content .header-admin-admins h1{
    color: var(--secondary-font-color);
    font-size: 3rem;
}
.admins-admin-container .admin-admins-content .header-admin-admins button{
    width: 220px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    transition: background-color 0.3s;
}
.admins-admin-container .admin-admins-content .header-admin-admins button ion-icon{
    margin-right: 5px;
}
.admins-admin-container .admin-admins-content .header-admin-admins button:hover{
    background-color: var(--dark-primary-color);
}