.modal-container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.185);
}
.modal-container .modal-content{
    width: 500px;
    height: fit-content;

    border-radius: 10px;
    
    background-color: var(--background-color);
}
.modal-container .modal-content .header-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    padding: 15px 15px 5px 15px;
    margin-bottom: 15px;
}
.modal-container .modal-content .header-modal button{
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    border-radius: 50px;
    transition: background-color 0.3s;
}
.modal-container .modal-content .header-modal button:hover{
    background-color: rgba(0, 0, 0, 0.158);
}
.modal-container .modal-content .header-modal h1,
.modal-container .modal-content .header-modal ion-icon{
    color: var(--secondary-font-color);
}
.modal-container .modal-content .content{
    padding: 0px 15px;
}
.modal-container .modal-content .content .message-container{
    padding: 20px 0;
}
.modal-container .modal-content .content .message-container h1{
    text-align: center;
    color: var(--secondary-font-color);
}
.modal-container .modal-content label{
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    margin-bottom: 5px;
}
.modal-container .modal-content .input-container{
    width: 100%;
    margin-bottom: 20px;
}
.modal-container .modal-content .input-container input{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
    border: 1px solid rgba(148, 148, 148, 0.363);
    background: initial;
    border-radius: 5px;
    padding: 0 15px;
    font-weight: 500;
    font-size: 1.3rem;
    outline: none;
    font-weight: 300;
    transition: border-color 0.3s;
    color: var(--secondary-font-color);
}
.modal-container .modal-content .input-container input:focus{
    border-color: var(--primary-color);
}
.modal-container .modal-content .input-container input::placeholder{
    color: var(--secondary-font-color);
}
.modal-container .modal-content .content > button{
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: background-color 0.3s;
}
.modal-container .modal-content .content > button.btn-save{
    background-color: var(--primary-color);
}
.modal-container .modal-content .content > button.btn-save:hover{
    background-color: var(--dark-primary-color);
}
.modal-container .modal-content .content > button.btn-cancel{
    background-color: var(--error-color);
    margin-bottom: 20px;
}
.modal-container .modal-content .content > button.btn-cancel:hover{
    background-color: var(--dark-error-color);
}