* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
}
:root{
    --primary-color: #004A7C;
    --secondary-color: #8DC6FF;
    --background-color: #E8F1F5;
    --font-color: #FAFAFA;
    --secondary-font-color: #000;
}
button{
    background-color: initial;
    border: none;
    cursor: pointer;
    outline: none;
}